.adventages{
    padding: 73px 0 65px;
    &__title{
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: $text_color;
        margin-bottom: 60px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        text-align: center;
        color: $text_color;
    }
    &__item{
        max-width: 277px;
    }
    img{
        margin: 0 auto 35px;
        display: block;
    }
    &__subtitle{
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 20px;
    }
    &__descr{
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        span{
            text-decoration-line: underline;
            color:$main_color;
        }
    }
}
@media (max-width: 991px){
    .adventages{
        &__item{
            max-width: 220px;
        }
    }
}
@media (max-width: 767px){
    .adventages{
        &__wrapper{
            flex-wrap: wrap;
        }
        &__item{
            max-width: 100%;
            margin-bottom: 15px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}
@media (max-width: 575px){
    .adventages {
        padding: 40px 0 35px;
        &__title{
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        &__subtitle{
            font-size: 16px;
            line-height: 20px; 
            margin-bottom: 16px;
        }
        img{
            margin-bottom: 15px;
        }
        &__descr{
            font-size: 12px;
            line-height: 14px;
        }
    }
}