.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.56);
    top: 0;
    left: 0;
    display: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    padding: 38px 40px 40px;
    &__close{
        position: absolute;
        top: 0;
        right: -41px;
        font-size: 41px;
        line-height: 21px;
        color: $main_color;
        cursor: pointer;
    }
    &__subtitle{
        color: $text_color;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
    &__descr{
        color: $text_color;
        font-size: 14px;
        font-weight: 4500;
        text-align: center;
        margin-bottom: 25px;
    }
    &_mini{
        min-height: 140px;
    }
    .error{
        border: 1px solid $main_color;
    }
    label.error{
        text-align: center;
        font-size: 12px;
        color: $main_color;
        margin-bottom: 10px;
        display: block;
        background-color: rgba(158, 71, 71, 0.2);
        width: 100%;
        padding: 5px 0;
        border: none;
    }
}
#consultation, #order, #thanks{
    display: none;
}
@media (max-width: 575px){
    .modal{
        &__close{
            top: 10px;
            right: 10px;
            font-size: 50px;
            line-height: 30px;
        }
    }
}
@media (max-width: 400px){
    .modal{
        width: 340px;
        padding: 40px 15px;
    }
}
@media (max-width: 320px){
    .modal{
        width: 310px;
        padding: 30px 10px;
    }
}