.promo{
    padding: 21px 0 93px;
    background: url(../../img/banner_bg.png) center (center/cover) no-repeat;
    &__wrapper{
        margin-top: 91px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__title{
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-align: right;
        text-transform: uppercase;
        color: $second_color;
        margin-bottom: 17px;
    }
    &__subtitle{
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-align: right;
        text-transform: uppercase;
        color: $second_color;
        margin-bottom: 60px;
    }
    &__icons{
        display: flex;
        justify-content: space-around;
        max-width: 424px;
    }
    &__icon{
        width: 136px;
        text-align: center;
        margin-bottom: 65px;
        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color:$second_color;
        }
    }
    &__iconImg{
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px;
        img{
            display: block;
        }
    }
    &__catalog{
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: right;
        color: $second_color;
        a{
            font-size: 16px;
            line-height: 25px;
            text-decoration-line: underline;
            color: $second_color;
        }
    }
}
@media (max-width: 991px){
    .promo{
        height: 100vh;
        &__wrapper{
            margin-top: 25%;
        }
        &__icon{
            margin-bottom: 25%;
        }
    }
}
@media (max-width: 767px){
    .promo{
        background-position-x: 100%;
    }
}
@media (max-width: 575px){
    .promo{
        &__wrapper{
            margin-top: 20%;
            align-items: center;
        }
        &__title{
            font-size: 30px;
            line-height: 32px;
            text-align: center;
        }
        &__subtitle{
            font-size: 16px;
            line-height: 18px;
            text-align: center; 
        }
        &__iconImg{
            width: 40px;
            height: 40px;
            img{
                width: 100%;
            }
        }
        &__icon{
            margin-bottom: 30%;
            width: 100px;
            p{
                font-size: 13px;
                line-height: 15px;
            }
        }
    }
}
@media (max-width:320px){
    .promo{
        &__wrapper{
            margin-top: 30px;
        }
        &__icons{
            max-width: 100%;
        }
        &__icon{
            margin-bottom: 20px;
            p{
                font-size: 10px;
                line-height: 12px;
            }
        }
        &__iconImg{
            width: 30px;
            height: 30px;
            img{
                width: 100%;
            }
        }
    }
}