@import 'base/fonts';
@import 'base/variables';

*{
    font-family: 'MuseoModerno', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
@media (max-width: 991px){
    .container{
        width: 100%;
        padding: 0 15px
    }
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/adventages';
@import 'blocks/consultation';
@import 'blocks/forms';